@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css);
@import url(https://cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);

*{
  margin: 0; padding: 0; line-height: 1.5;
  font-family: 'Dubai-Regular', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  direction: rtl;
}

a{
  color: #4caf50;
}

nav{
  background-color: #e1e1e1;
  padding: 10px; text-align: center;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}

nav ul li a{
  color: #666;
}

.container{
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

h2, strong, h3{
  font-family: 'Dubai-Bold', sans-serif;
  font-weight: normal;
}

.logo{
  text-align: center;
  padding: 40px;
  padding-bottom: 20px;
}

.breif{
  text-align: center;
  padding: 10px;
  margin: 30px;
  margin-top: 0;
}

.features {

}

.feature {
  /*background-color: yellow;*/
  width: 33%; display: inline-block;
  margin: 0; padding: 0; border: 10px solid #fff;
  text-align: center;
}

.feature p{
  margin-top: 10px;
}

.actions{
  padding: 40px; text-align: center;
}

.actions ul{
  list-style-type: none;
}

.actions ul li{
  display: inline-block;
}

.actions ul li a{
  padding: 10px; text-decoration: none; color: #fff;
  background-color: #32c24d; border-radius: 4px;
  font-family: 'Dubai-Bold', sans-serif;
}

.disabled, .form-buttons input[type="submit"]:disabled, .submit:disabled{
  padding: 10px; text-decoration: none; color: #ccc;
  border-radius: 4px; border: 1px solid #ccc; background-color: #fff;
  font-family: 'Dubai-Bold', sans-serif; cursor: default;
}

.copyrights{
  margin-top: 20px; border-top: 1px solid #ccc;
  color: #ccc; font-size: 14px; padding-top: 10px;
  margin-bottom: 20px; text-align: center;
}

.form-container h2{
  text-align: center; padding-bottom: 20px;
  /*border-bottom: 1px solid #ccc; margin-bottom: 20px;*/
}

.form-input{
  padding-bottom: 10px;
}

.form-input img{
  width: 100%;
}

.form-input label{
  display: block; padding-bottom: 6px;
}

.form-input p{
  text-align: justify;
  padding-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.form-input input:not([type="submit"]):not([type="radio"]):not([type="date"]), textarea{
  width: 100%; box-sizing: border-box;
  border: 1px solid #ccc; padding: 6px;
  font-size: 16px; line-height: initial;
}

.form-input input[type="email"], .form-input input[type="tel"], .form-input input[type="date"]{
  direction: ltr; text-align: right;
}

.form-input input:not([type="submit"]):not([type="radio"])::-webkit-contacts-auto-fill-button{
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.form-buttons{
  text-align: center;
}

.form-buttons input[type="submit"], .submit{
  padding: 10px; text-decoration: none; color: #fff;
  border: 0; background-color: #32c24d; cursor: pointer;
  border-radius: 4px; font-family: 'Dubai-Bold', sans-serif;
}

.form-buttons .secondary{
  padding: 10px; text-decoration: none; color: #666;
  border: 0; background-color: #e1e1e1; cursor: pointer;
  border-radius: 4px; font-family: 'Dubai-Bold', sans-serif;
}

.form-input input:not([type="submit"]):not([type="radio"]):not([type="date"]):invalid, textarea:invalid{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAI2SURBVGhD7ZnfS1NhGMcHdplUt930P9id5HkVJNxZTfScI2NGP0iWQrFUvLCciGYXYV4IhSCYENVFPyjNCxXF+WsoSssLhQr0wkQsUPpBgszH99meCdlomx6OJ3s+8L3Z3vf7Pp+dvTebg2EY5v9GcWpNilMf+Hu0JlpuT7Ld7kyh6pBShHGUttmP/HzjWHzQmsAdaGlr/y34Wvx9XEvb7IcQ4oiiagtni7xbK6tfYDehqRl7i4jCwuNnXN4TmGy35+TS8vLnb99/wO4MjYzviOSp3lO4HvdSzcFgGEaGour18vJ+jQ+312AHdmEn1VuHPLw60VD7ieysonrrEKo2i4dX1jbA1EwYpt+9Tym9/YMwGByD0HQYunpHoLMnCFf8t0lGm6V665CXeh0Pf/22j65yemxsRmD042o09x+9jD0R2Un11sEiBIuYDYsQLGI2LEKwiNmwCMEiZsMiBIuYDYsQLGI2h0/kRTfAhwWASCQ24eISwPynpPkVnofQkzcw8awHWtu6bCBy0Q9Q1RyTQB48BqgIJM3Pilvw9KovmoDnsg1ELtzYt0id59K/K7Il86qs3GYi/kaykKQoglm7VguTvpvwsNRnExEcbCgEMCcvcvXdPwZOFuw4OBH68fp56fWEw6UT7IiKyE6qtw7h1IN4ePF5D9wrKYOWPQb3Ygc9kWGqtw7h0nIVVd/EAcwIduUW6ILqrSXPZZyWn2KH/Eok+MMzjciOnHNFWVTLMAxz6HE4tgEgjyTrnXr8lwAAAABJRU5ErkJggg==);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.form-input input:not([type="submit"]):not([type="radio"]):not([type="date"]):valid, textarea:valid{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJKSURBVGhD7ZnfS1NhGMcHdVdRu/WmfyAI6k7svAoj2plM7JwDcTDQpFuphiX9kMCRLaMLL6KfJCh6I0h0FZplEFHgjZUpCCWU1plhtIhsusf3Wc+Cjqfa7HB8recDHxjbeb/v893Zy2ALMQzD/N9oUaNNi5qDv9doo8vVpDwe3yJ0E4pSWJtpmXpEItbWwqDNZ5JwsfPKT+JzhdfxWlqmHkKIjZpuvNpba+feOWlw8/jpqNpFRE3NtoqYHUbL4wfK3szMvP2U+Qxuhx8++lGkSre34/W4lmLWBsuyNmi62SoP71xhuNWKGZiFmRQfHHLzhNdQf6PMPEbxwSF0Yww3r040w6F7t6HxfnEe7O+G+jt9YN/th3AqCeH2JOysP0xljDGKDw55qD/i5nV9XXDk/XNIOC+gxXmZf1yMjdOjELp1OW/Z6VPf74jMpPjgcBeZzX6Fb7klSH2YWjG0l8oWcRYXYBFy0LHei5xwxqE1PbFi4F+pbJFS5SJ+4y5yNj0JF4o8H6iSRY7KwTJLWXnUYX0fdvz+KHBtftpzcLdcxG+4CMlF/IaLkFzEb7gIyUX8houQXMRvuAjZNPsMNvXeUKvIcWecagBcnX/tObiXdVNPYMfQAFR0XlKjCA418mUOJhYycFLeHffAfxIz1q4I/Xht99z0HK4UMSNfRGZSfHCIqDmCm0fsBth//hwYqfZViWsxg+7IA4oPDhEzKjXdzOIAfohZlftMQfHBUhWzdst38br8SHj84VmCMmNPde0uimUYhvnnCYWWAXm7Edy/I1Z/AAAAAElFTkSuQmCC);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.form-input input[type="date"]{
  /*width: 100%;*/
}

.error{
  background-color: #ffeb3b;
}

.tracks{
  margin-top: 10px;
  margin-right: -20px;
  margin-left: -20px;
  padding: 20px; /*color: #fff;*/
  background-color: #f3f3f3;
}

.tracks h2, .agenda h2{
  text-align: center;
  margin-bottom: 10px;
}

.track{
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

.track .badge{
  background-color: #90caf9;
  color: #fff; padding-right: 6px;
  padding-left: 6px; font-size: 14px;
  border-radius: 6px; margin-left: 6px;
}

.applicant{
  /*margin-bottom: 10px;*/
}

.applicant iframe{
  width: 100%;
}

.form-input label.radio-label{
  display: inline-block; padding-right: 4px;
  margin-left: 10px;
}

.agenda table{
  border-collapse: collapse;
  width: 100%;
}

.agenda table td, .agenda table th{
  padding: 4px; border-bottom: 1px solid #ccc;
}

.agenda-section{
  font-family: 'Dubai-Bold'; color: #ccc;
  /*text-align: center;*/
}

.agenda table td:first-child{
  width: 35%;
}

.agenda table th{
  text-align: right; font-family: 'Dubai-Bold';
}

/*.inline-form{
  display: inline-block;
}*/

.must{
  background-color: #ffeb3b; padding: 20px;
  margin-bottom: 20px; /*color: #fff;*/
}

.preview-container .subject{
  border-bottom: 1px solid #ccc;
  padding: 4px; margin-bottom: 4px;
  font-family: 'Dubai-Bold', sans-serif;
  font-weight: normal;
}

.preview-container img{
  width: 100%;
}

#contributor-picture, #trainee-picture{
  float: right; width: 48px;
  margin-left: 6px;
}

/* For large screens. */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
  .track{
    margin-top: 20px;
  }
  .applicant{
    margin-top: -20px;
  }
  .agenda h2{
    margin-top: 20px;
  }
}

/* For small screens. */
@media (max-width: 500px){
  .logo{
    padding: 30px;
    padding-bottom: 10px;
  }
  .breif{
    margin: 10px;
    margin-top: 0;
  }
  .feature {
    width: 100%;
  }
  .actions{
    padding: 20px;
  }
  .copyrights{
    font-size: 12px;
  }
  .tracks{
    margin-bottom: 20px;
  }
  .track:not(:last-child){
    margin-bottom: 20px;
  }
  .agenda{
    margin-bottom: 10px;
  }
}
